* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Animación principal */

.animation {
  background-image: url(../img/web.jpg);
  width: 100%;
  max-width: 1300px;
  margin: auto;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: top left;
  animation: movement 12s infinite linear alternate;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes movement {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}

.effect {
  background-color: #b5b5b5;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.main_title {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 80%;
  font-family: "Vollkorn" , sans-serif;
  color: #fff;
  z-index: 2;
}

/* Media Quaries de la animación */

@media screen and (min-width:320px) and (max-width: 419px) {
  .animation {
    background-size: 150%;
    font-size: 16px;
    height: 200px;
  }
}

@media screen and (min-width:420px) and (max-width:719px) {
  .animation {
    background-size: 120%;
    font-size: 20px;
    height: 250px;
  }
}

@media screen and (min-width:720px) and (max-width:1023px) {
  .animation {
    background-size: 115%;
    font-size: 26px;
    height: 250px;
  }
}

@media screen and (min-width:1024px) {
  .animation {
    background-size: 110%;
    font-size: 32px;
    height: 300px;
  }
}

/* Desarrollo del artículo */

.article {
  width: 100%;
  max-width: 1000px;
  height: auto;
  text-align: center;
  margin: auto;
  padding: 15px;
}

.article h2 {
  font-family: "Vollkorn", sans-serif;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 14px;
}

.article p {
  font-family: "Open Sans", serif;
  font-size: 11px;
  margin-top: 5px;
}

figure {
  width: 100%;
  height: auto;
  text-align: center;
}

figure img {
  width: 90%;
  height: 35vh;
  border: 5px solid lightgray;
  border-radius: 2%;
  margin: auto;
}

/* Media Queries de la sección de artículo */

@media screen and (min-width: 320px) and (max-width: 419px) {
  .article {
    padding: 25px;
  }
  .article h2 {
    margin-top: 20px;
  }
  .article p {
    font-size: 12px;
  }
  figure img {
    width: 70%;
    height: 30vh;
  }
}

@media screen and (min-width:420px) and (max-width:719px) {
  .article {
    padding: 30px;
    text-align: left;
  }
  .article h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
  }
  .article p {
    text-align: left;
    font-size: 16px;
  }
  figure img {
    width: 65%;
    height: 40vh;
  }
}

@media screen and (min-width:720px) {
  .article {
    padding: 30px;
    text-align: left;
  }
  .article h2 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 32px;
  }
  .article p {
    font-size: 20px;
    margin-top: 15px;
  }
  figure img {
    width: 90%;
    height: 70vh;
  }
}
